
The Anxiety of Waiting for Test Results
=======================================

By Jan Hoffman

July 23, 2012 4:20 pm July 23, 2012 4:20 pm

Photo

![](https://static01.nyt.com/images/2012/07/24/science/24DIAGNOSIS_SPAN/24DIAGNOSIS_SPAN-tmagArticle.jpg)

Credit Keith Negley

  
30岁的夫妇MaryAnn和Drew Szilagyi，老公Drew Szilagyi是个银行职员，老婆MaryAnn是为厨具销售员，老婆有乳腺癌家族史。夫妇俩日常的疾病都是找这位医生看的，已经有很多年了，抽完血以后夫妇俩也不会坐等医生打电话联系他们告知化验结果。两天后，老公登录到网站中详细浏览了自己的化验结果，长舒了一口气。一切正常。

Szilagyi太太随后也查看了自己的结果，但什么都没有。相反，有一条提示消息，“请联系医生”。
她一下子就紧张了起来。当天她就给医生留了四次言，但医生都没有回复。第二天，她找到登记报告的护士想询问一番，护士看了眼她的化验报告，告诉她没什么好担心的。

这时候 Szilagyi 太太的内心既焦躁又惶恐，到底化验结果如何？

第三天，医生助理打电话给她。告知她是维生素D不足(维生素D缺乏症).35岁的 Szilagyi 瞬间松了一口气，觉也睡得着，饭也吃得下了。

对于大多数患者来讲，在做了一个重要的化验之后，几乎都要经过炼狱拌的心理折磨。医生并不总是能减轻患者的焦虑，亦或是实事求是地告知你坏消息，第一时间电话告知你结果，有时候甚至还会把结果弄丢。

As medical records move online and state regulations loosen, many patients can bypass the doctor’s call and get the results of these tests faster, directly from labs via Web sites and apps. But new federal regulations may permit all patients that right by year’s end. Many experts are concerned that pervasive direct access to test results may have serious drawbacks, leaving patients even more confused and overwhelmed by information they do not know how to interpret.

According to the Centers for Disease Control and Prevention, about 6.8 billion laboratory tests were performed in the United States in 2007. At that time, more than 4,000 diagnostic tests were available and 1,420 diseases could be detected with genetic testing.

The impact of waiting for test results on patient anxiety is significant. It has been studied in [breast cancer biopsy patients](//www.ncbi.nlm.nih.gov/pubmed/19244038), [infertility patients](//www.ncbi.nlm.nih.gov/pubmed/17586338) and [patients undergoing genetic testing](//psycnet.apa.org/journals/ccp/70/3/784/), among others. Stress alone, these studies show, can affect recovery time and exacerbate side effects from medications. The psychological toll in households can also be harsh, especially among family members with clashing coping styles — if, say, one person has an optimistic bent, while the other tends to presume the worst.

In an exploratory study at the Wake Forest Baptist Medical Center in Winston-Salem, N.C., published this spring in The Journal of the American College of Radiology, more than 80 percent of patients said they would rather have online access to such results within three days, no matter how dense the jargon, than wait a week or longer for a doctor’s interpretation. By the end of September, the medical center’s patients will be able to directly access their test results three days after physicians sign off and, in some cases, even sooner.

“Once you know what you have, you can make plans,” said Dr. Elvira V. Lang, a radiologist who taught at Harvard Medical School and has studied the effect of stress on [cortisol](//health.nytimes.com/health/guides/test/cortisol-level/overview.html?inline=nyt-classifier "In-depth reference and news articles about Cortisol level.") levels in patients waiting for biopsy results. Until then, she said, you may imagine the worst, “but you can’t map the next step.”

While some results are now available within hours, many high-stakes tests, involving growing cultures or tissue dissection, still require days, even weeks. And according to Dr. Hardeep Singh, who [wrote about direct access to test results](//jama.jamanetwork.com/article.aspx?articleid=1104710 "JAMA article.") last December in The Journal of the American Medical Association, physicians themselves do not always give patients results in a timely manner.

Dr. Singh, who leads the health quality program at the Houston Veterans Affairs Research Center of Excellence, said in an interview that several studies have shown that doctors delay or fail to notify patients of as many as 36 percent of abnormal test results, including possible malignancies.

There are many reasons, he said, chief among them the lack of reliable tracking systems to follow up the hundreds of results that a busy physician typically receives in a week.

Since 2003, patients have been entitled [to receive medical records](https://www.youtube.com/watch?v=JY1l5s8ED5c "A video from Health and Human Services.") from doctors, hospitals and health plans within 30 days of their request. Clinical labs, which perform most tests and are required to report to the physicians, were the exception.

Seven states permit labs to release reports directly to patients, seven states allow such reporting with physician approval, and 23 states are silent on the issue. Thirteen states mandate that labs report only to physicians. But potential changes under review to federal health privacy regulations would allow all patients to request results directly from labs, which would have 30 days to comply.

Would quicker, direct access reduce anxiety? Or, without a medical professional offering context and explanation, could it provoke greater anxiety or even false assurance?

Dr. Jason Poston, an associate fellow at the Bucksbaum Institute for Clinical Excellence at the University of Chicago Medical Center, has mixed feelings about direct access.

“It’s empowering for patients,” Dr. Poston said. “But anything abnormal shows up red and bold. Some of those results may be due to chance. Some of them are not suggestive that you have a disease. So you run the risk of anxiety either with too little or delayed information, or with free access to all the information, because it can overwhelm you.”

The variety and complexity of tests continue to grow. Many do lead to critical interventions. But others merely point to statistical possibilities, opening doors to further testing or to the gray universe of “watchful waiting.” These results often require a subtle, sophisticated interpretation that may be far beyond the average patient’s first reading.

Many experts argue that if patients are to have direct access to test results, doctors and labs should ensure that patients are also provided with information to help them understand the shorthand numbers — and that doctors themselves follow up promptly.

Dr. Poston, an intensive care specialist, teaches medical students to begin educating patients about results even before the test is done. Patients should have realistic expectations about what results may or may not reveal, he tells students, and why some tests still take time to be analyzed. Not only will patient anxiety be somewhat alleviated, Dr. Poston said, but the role of the doctor as critical guide and partner in the patient’s care will be reinforced — even as a patient’s need to participate in decision-making will be supported.

Informed, calmer patients, Dr. Poston added, are more likely to comply with tests, surgery and medication, increasing the likelihood of better outcomes. But a doctor needs time to assess the patient’s psychological needs — and doctors can’t bill for hand-holding. “How do we come to a system where we can do right by the patient and also make the practice financially viable?” Dr. Poston said.

Mrs. Szilagyi, the Houston woman who had the stress-strafed episode with online results, also went through two difficult pregnancies. Those times, she did not have direct access to results, which were given to her, and carefully translated, by a [genetics](//health.nytimes.com/health/guides/specialtopic/genetics/overview.html?inline=nyt-classifier "In-depth reference and news articles about Genetics.") counselor.

Her divergent experiences offer a window onto the new and the traditional means of learning vital medical information.

During her first [pregnancy](//topics.nytimes.com/top/news/health/diseasesconditionsandhealthtopics/pregnancy/index.html?inline=nyt-classifier "Recent and archival health news about pregnancy."), at 31, she had a routine first-trimester [ultrasound](//health.nytimes.com/health/guides/test/ultrasound/overview.html?inline=nyt-classifier "In-depth reference and news articles about Ultrasonics.") and blood work. The screen revealed that the pregnancy was in the abnormal range: Her baby’s chances of having [Down syndrome](//health.nytimes.com/health/guides/disease/down-syndrome/overview.html?inline=nyt-classifier "In-depth reference and news articles about Down Syndrome.") were 1 in 191. Jennifer M. Hoskovec, director of prenatal genetic counseling services at the University of Texas Medical School at Houston, met with Mrs. Szilagyi, who chose to have an amniocentesis, knowing that the procedure could pose a small risk to the fetus.

Mrs. Szilagyi had to wait two weeks for the procedure and two more for results. She was a wreck, enduring migraines and eating little. Mrs. Hoskovec would check in. Although she tried to contain Mrs. Szilagyi’s worries by offering evenhanded information, she did not dismiss her anxiety as overblown. “Pregnancy is stressful,” she told Mrs. Szilagyi. Worry and fear are normal.

Finally Mrs. Hoskovec called with good news: Their baby boy was fine. That first screen was a false positive.

But during her second pregnancy, Mrs. Szilagyi’s first-trimester tests also came back with abnormal results. Mrs. Szilagyi again had an amniocentesis.

Mrs. Hoskovec called with results. In some fetal cells, a small piece on chromosome 10 was missing. The variation could be normal, she said, but it could also suggest a risk.

In her 18th week, Mrs. Szilagyi had a second amniocentesis. “I had so much worry and guilt,” she recalled. “My husband was O.K. with the odds. I wasn’t, and who did I think I was to play God, to need to know what was going to occur? And what could I have just done to this baby?”

At last Mrs. Hoskovec phoned. The Szilagyis were on schedule to deliver a healthy girl.

In Texas, where the Szilagyis live, patients can get access to lab results if the physician concurs. But that restriction will disappear if the revised federal regulations take effect, most likely later this year.

Across the country, patients and providers will have to decide how to manage the new rights. Will the responsibility for learning results begin to shift from doctor to patient? How will doctors ensure that patients understand what they have read online? How will doctors manage the heavy traffic of panicky phone calls?

Few argue, in theory, with the notion that patients should have faster access to test results. But after waiting for more test results than she cares to remember, Mrs. Szilagyi believes sometimes an expert’s interpretation is more important than instant answers.

“If you had normal labs from a basic screen, going online is great because it cuts down waiting time,” she said.

If she had read the results of the second pregnancy’s amnio online? “I would have been devastated,” she said, adding that Mrs. Hoskovec had been invaluable.

“I needed Jen, with her knowledge and expertise, to get me through.”

* * *

**A Little Preparation, a Lot of Coping**

As patients wait for test results, anxiety rises as time slips into slow motion. But experts say patients can regain a sense of control.

*   Start before the test itself.
*   Because fear can cloud memory during talks with doctors, take notes. If you can, bring a friend to catch details you may miss.

Some pretest questions:

*   What precisely can this test reveal? What are its limitations?
*   How long should results take, and why? Will the doctor call with results, or should I contact the office?
*   If it’s my responsibility to call, what is the best time, and whom should I ask for?
*   What is the doctor’s advice about getting results online?

During that period of patient limbo, “many people try to inoculate themselves by imagining the worst,” said [Guy H. Montgomery](//www.mountsinai.org/profiles/guy-h-montgomery "Montgomery bio"), a psychologist who teaches at the Mount Sinai School of Medicine. “So when they get the results they can say, ‘I knew that.’ Or they feel extremely relieved.”

The four-alarm worriers may also hold tight to magical thinking: If they can stare, unblinking, into the abyss of worst-case scenarios, maybe the abyss will blink first — and the news will be good.

“Is that worry working for you?” Dr. Montgomery said he tells patients. “If you need a day to cry, fine, but if it’s incapacitating you, we need to find another way.”

Experts also say patients should recall strategies they’ve found useful in other stressful situations. Suggestions include self-hypnosis and yoga. Many patients find comfort in prayer.

Others keep busy to avoid ruminating. Many stave off feeling helpless by doing something helpful for someone else. Or they combat anxiety by doing activities they enjoy. (Power-shopping, anyone?)

For patients who find anxiety crippling, some recommend medication. [Dr. Elvira V. Lang](//www.hypnalgesics.com/DrLang "Lang bio"), a radiologist who teaches medical professionals how to alleviate patients’ stress, prefers that patients not go that route.

“Once you take the medication, you can’t drive, operate machinery, prepare documents carefully,” she said. “I urge patients to take deep breaths: taking in strength and letting go of whatever thoughts are not helpful.”

Dr. Montgomery says mental toughness may be overrated. “People say, ‘Suck it up!’ ” he said. But waiting for the results of an important medical test, he added, “is an out-of-ordinary experience, a significant life event. It’s O.K. to ask for help.”
