
The Anxiety of Waiting for Test Results
=======================================

By Jan Hoffman

July 23, 2012 4:20 pm July 23, 2012 4:20 pm

Photo

![](https://static01.nyt.com/images/2012/07/24/science/24DIAGNOSIS_SPAN/24DIAGNOSIS_SPAN-tmagArticle.jpg)

Credit Keith Negley

  
30岁的夫妇MaryAnn和Drew Szilagyi，老公Drew Szilagyi是个银行职员，老婆MaryAnn是为厨具销售员，老婆有乳腺癌家族史。夫妇俩日常的疾病都是找这位医生看的，已经有很多年了，抽完血以后夫妇俩也不会坐等医生打电话联系他们告知化验结果。两天后，老公登录到网站中详细浏览了自己的化验结果，长舒了一口气。一切正常。

Szilagyi太太随后也查看了自己的结果，但什么都没有。相反，有一条提示消息，“请联系医生”。
她一下子就紧张了起来。当天她就给医生留了四次言，但医生都没有回复。第二天，她找到登记报告的护士想询问一番，护士看了眼她的化验报告，告诉她没什么好担心的。

这时候 Szilagyi 太太的内心既焦躁又惶恐，到底化验结果如何？

第三天，医生助理打电话给她。告知她是维生素D不足(维生素D缺乏症).35岁的 Szilagyi 瞬间松了一口气，觉也睡得着，饭也吃得下了。

对于大多数患者来讲，在做了一个重要的化验之后，几乎都要经过炼狱拌的心理折磨。医生并不总是能减轻患者的焦虑，亦或是实事求是地告知你坏消息，第一时间电话告知你结果，有时候甚至还会把结果弄丢。

随着可以在线查看病历以及州法律越来越松，大多数患者都可以不用坐等医生电话，直接通过网站或者app快速直接浏览自己的化验结果。诸多专家纷纷表示患者直接查看自己的化验报告可能会引发严重的问题，导致患者更加困惑，看到自己无法解释的报告内容而迷茫。

根据疾控中心的统计，美国人2007年大约要做68亿次化验。大概有4000多种化验项目，通过基因检测可以诊断1420多种疾病。

等待化验结果的过程，对患者焦虑心情的影响是十分显著的。研究表明，随之而来的压力会影响康复时长，加剧药物所带来的副作用。对于家庭来说造成的心理负担也是极大的，尤其是家庭成员应对方式不同时，有些人倾向于往好处想，有些人倾向于往坏处想。

 Wake Forest Baptist Medical Center 医院完成一项研究表明，80%的患者表示只要是3天内他们都更乐意利用网络工具直接查看自己的报告，不愿意多等一个礼拜或更长的时间听医生对报告内容的解读。9月底，这家医院的所有患者都可以在医生审核完报告以后的三个工作日内直接查看自己的化验报告。
 
Elvira V. Lang 医生就职于哈佛医学院，正在研究皮质醇患者在等待活检结果时所产生的压力水平对治疗的影响程度。在拿到报告之前，你可以往好了想，也可以往坏了想，但不管怎么说，只有明确知道了报告内容，你才好做下一步的打算。

虽然很多化验项目数小时内就可以拿到报告，但很多涉及组织培养和解剖的项目仍然要等上数天，甚至数周。

Dr. Hardeep Singh是 Houston Veterans Affairs Research Center of Excellence的医疗质量项目负责人，他表示医生并不会第一时间告知患者化验结果。多份研究结果表明，当化验结果异常时，包括潜在肿瘤的情况，其中36%医生都没有告知患者或者没有及时告知患者。当然原因有很多，最主要的是没有一个很好的系统能够让医生有效的管理和跟踪一周内就数以百计的化验结果。

自2003年开始，患者就拥有从医生、医院和其他治疗机构获取医疗病历的权利。但第三方实验室/化验科是个例外，它们只是完成化验项目，并把报告提交给门诊或者住院医生。

其中7个州允许实验室把化验报告直接给患者，7个州要求在医生的授权下可以把化验报告给患者，其他23个州则没有明确的政策。但随着当下正在修订的隐私法案的落地，将会推动越来越多的实验室把化验报告直接给到患者。

Would quicker, direct access reduce anxiety? Or, without a medical professional offering context and explanation, could it provoke greater anxiety or even false assurance?

Dr. Jason Poston, an associate fellow at the Bucksbaum Institute for Clinical Excellence at the University of Chicago Medical Center, has mixed feelings about direct access.

“It’s empowering for patients,” Dr. Poston said. “But anything abnormal shows up red and bold. Some of those results may be due to chance. Some of them are not suggestive that you have a disease. So you run the risk of anxiety either with too little or delayed information, or with free access to all the information, because it can overwhelm you.”

The variety and complexity of tests continue to grow. Many do lead to critical interventions. But others merely point to statistical possibilities, opening doors to further testing or to the gray universe of “watchful waiting.” These results often require a subtle, sophisticated interpretation that may be far beyond the average patient’s first reading.

Many experts argue that if patients are to have direct access to test results, doctors and labs should ensure that patients are also provided with information to help them understand the shorthand numbers — and that doctors themselves follow up promptly.

Dr. Poston, an intensive care specialist, teaches medical students to begin educating patients about results even before the test is done. Patients should have realistic expectations about what results may or may not reveal, he tells students, and why some tests still take time to be analyzed. Not only will patient anxiety be somewhat alleviated, Dr. Poston said, but the role of the doctor as critical guide and partner in the patient’s care will be reinforced — even as a patient’s need to participate in decision-making will be supported.

Informed, calmer patients, Dr. Poston added, are more likely to comply with tests, surgery and medication, increasing the likelihood of better outcomes. But a doctor needs time to assess the patient’s psychological needs — and doctors can’t bill for hand-holding. “How do we come to a system where we can do right by the patient and also make the practice financially viable?” Dr. Poston said.

Mrs. Szilagyi, the Houston woman who had the stress-strafed episode with online results, also went through two difficult pregnancies. Those times, she did not have direct access to results, which were given to her, and carefully translated, by a [genetics](//health.nytimes.com/health/guides/specialtopic/genetics/overview.html?inline=nyt-classifier "In-depth reference and news articles about Genetics.") counselor.

Her divergent experiences offer a window onto the new and the traditional means of learning vital medical information.

During her first [pregnancy](//topics.nytimes.com/top/news/health/diseasesconditionsandhealthtopics/pregnancy/index.html?inline=nyt-classifier "Recent and archival health news about pregnancy."), at 31, she had a routine first-trimester [ultrasound](//health.nytimes.com/health/guides/test/ultrasound/overview.html?inline=nyt-classifier "In-depth reference and news articles about Ultrasonics.") and blood work. The screen revealed that the pregnancy was in the abnormal range: Her baby’s chances of having [Down syndrome](//health.nytimes.com/health/guides/disease/down-syndrome/overview.html?inline=nyt-classifier "In-depth reference and news articles about Down Syndrome.") were 1 in 191. Jennifer M. Hoskovec, director of prenatal genetic counseling services at the University of Texas Medical School at Houston, met with Mrs. Szilagyi, who chose to have an amniocentesis, knowing that the procedure could pose a small risk to the fetus.

Mrs. Szilagyi had to wait two weeks for the procedure and two more for results. She was a wreck, enduring migraines and eating little. Mrs. Hoskovec would check in. Although she tried to contain Mrs. Szilagyi’s worries by offering evenhanded information, she did not dismiss her anxiety as overblown. “Pregnancy is stressful,” she told Mrs. Szilagyi. Worry and fear are normal.

Finally Mrs. Hoskovec called with good news: Their baby boy was fine. That first screen was a false positive.

But during her second pregnancy, Mrs. Szilagyi’s first-trimester tests also came back with abnormal results. Mrs. Szilagyi again had an amniocentesis.

Mrs. Hoskovec called with results. In some fetal cells, a small piece on chromosome 10 was missing. The variation could be normal, she said, but it could also suggest a risk.

In her 18th week, Mrs. Szilagyi had a second amniocentesis. “I had so much worry and guilt,” she recalled. “My husband was O.K. with the odds. I wasn’t, and who did I think I was to play God, to need to know what was going to occur? And what could I have just done to this baby?”

At last Mrs. Hoskovec phoned. The Szilagyis were on schedule to deliver a healthy girl.

In Texas, where the Szilagyis live, patients can get access to lab results if the physician concurs. But that restriction will disappear if the revised federal regulations take effect, most likely later this year.

Across the country, patients and providers will have to decide how to manage the new rights. Will the responsibility for learning results begin to shift from doctor to patient? How will doctors ensure that patients understand what they have read online? How will doctors manage the heavy traffic of panicky phone calls?

Few argue, in theory, with the notion that patients should have faster access to test results. But after waiting for more test results than she cares to remember, Mrs. Szilagyi believes sometimes an expert’s interpretation is more important than instant answers.

“If you had normal labs from a basic screen, going online is great because it cuts down waiting time,” she said.

If she had read the results of the second pregnancy’s amnio online? “I would have been devastated,” she said, adding that Mrs. Hoskovec had been invaluable.

“I needed Jen, with her knowledge and expertise, to get me through.”

* * *

**A Little Preparation, a Lot of Coping**

As patients wait for test results, anxiety rises as time slips into slow motion. But experts say patients can regain a sense of control.

*   Start before the test itself.
*   Because fear can cloud memory during talks with doctors, take notes. If you can, bring a friend to catch details you may miss.

Some pretest questions:

*   What precisely can this test reveal? What are its limitations?
*   How long should results take, and why? Will the doctor call with results, or should I contact the office?
*   If it’s my responsibility to call, what is the best time, and whom should I ask for?
*   What is the doctor’s advice about getting results online?

During that period of patient limbo, “many people try to inoculate themselves by imagining the worst,” said [Guy H. Montgomery](//www.mountsinai.org/profiles/guy-h-montgomery "Montgomery bio"), a psychologist who teaches at the Mount Sinai School of Medicine. “So when they get the results they can say, ‘I knew that.’ Or they feel extremely relieved.”

The four-alarm worriers may also hold tight to magical thinking: If they can stare, unblinking, into the abyss of worst-case scenarios, maybe the abyss will blink first — and the news will be good.

“Is that worry working for you?” Dr. Montgomery said he tells patients. “If you need a day to cry, fine, but if it’s incapacitating you, we need to find another way.”

Experts also say patients should recall strategies they’ve found useful in other stressful situations. Suggestions include self-hypnosis and yoga. Many patients find comfort in prayer.

Others keep busy to avoid ruminating. Many stave off feeling helpless by doing something helpful for someone else. Or they combat anxiety by doing activities they enjoy. (Power-shopping, anyone?)

For patients who find anxiety crippling, some recommend medication. [Dr. Elvira V. Lang](//www.hypnalgesics.com/DrLang "Lang bio"), a radiologist who teaches medical professionals how to alleviate patients’ stress, prefers that patients not go that route.

“Once you take the medication, you can’t drive, operate machinery, prepare documents carefully,” she said. “I urge patients to take deep breaths: taking in strength and letting go of whatever thoughts are not helpful.”

Dr. Montgomery says mental toughness may be overrated. “People say, ‘Suck it up!’ ” he said. But waiting for the results of an important medical test, he added, “is an out-of-ordinary experience, a significant life event. It’s O.K. to ask for help.”
