
The Anxiety of Waiting for Test Results
=======================================

By Jan Hoffman

July 23, 2012 4:20 pm July 23, 2012 4:20 pm

Photo

![](https://static01.nyt.com/images/2012/07/24/science/24DIAGNOSIS_SPAN/24DIAGNOSIS_SPAN-tmagArticle.jpg)

Credit Keith Negley

  
30岁的夫妇MaryAnn和Drew Szilagyi，老公Drew Szilagyi是个银行职员，老婆MaryAnn是为厨具销售员，老婆有乳腺癌家族史。夫妇俩日常的疾病都是找这位医生看的，已经有很多年了，抽完血以后夫妇俩也不会坐等医生打电话联系他们告知化验结果。两天后，老公登录到网站中详细浏览了自己的化验结果，长舒了一口气。一切正常。

Szilagyi太太随后也查看了自己的结果，但什么都没有。相反，有一条提示消息，“请联系医生”。
她一下子就紧张了起来。当天她就给医生留了四次言，但医生都没有回复。第二天，她找到登记报告的护士想询问一番，护士看了眼她的化验报告，告诉她没什么好担心的。

这时候 Szilagyi 太太的内心既焦躁又惶恐，到底化验结果如何？

第三天，医生助理打电话给她。告知她是维生素D不足(维生素D缺乏症).35岁的 Szilagyi 瞬间松了一口气，觉也睡得着，饭也吃得下了。

对于大多数患者来讲，在做了一个重要的化验之后，几乎都要经过炼狱拌的心理折磨。医生并不总是能减轻患者的焦虑，亦或是实事求是地告知你坏消息，第一时间电话告知你结果，有时候甚至还会把结果弄丢。

随着可以在线查看病历以及州法律越来越松，大多数患者都可以不用坐等医生电话，直接通过网站或者app快速直接浏览自己的化验结果。诸多专家纷纷表示患者直接查看自己的化验报告可能会引发严重的问题，导致患者更加困惑，看到自己无法解释的报告内容而迷茫。

根据疾控中心的统计，美国人2007年大约要做68亿次化验。大概有4000多种化验项目，通过基因检测可以诊断1420多种疾病。

等待化验结果的过程，对患者焦虑心情的影响是十分显著的。研究表明，随之而来的压力会影响康复时长，加剧药物所带来的副作用。对于家庭来说造成的心理负担也是极大的，尤其是家庭成员应对方式不同时，有些人倾向于往好处想，有些人倾向于往坏处想。

 Wake Forest Baptist Medical Center 医院完成一项研究表明，80%的患者表示只要是3天内他们都更乐意利用网络工具直接查看自己的报告，不愿意多等一个礼拜或更长的时间听医生对报告内容的解读。9月底，这家医院的所有患者都可以在医生审核完报告以后的三个工作日内直接查看自己的化验报告。
 
Elvira V. Lang 医生就职于哈佛医学院，正在研究皮质醇患者在等待活检结果时所产生的压力水平对治疗的影响程度。在拿到报告之前，你可以往好了想，也可以往坏了想，但不管怎么说，只有明确知道了报告内容，你才好做下一步的打算。

虽然很多化验项目数小时内就可以拿到报告，但很多涉及组织培养和解剖的项目仍然要等上数天，甚至数周。

Dr. Hardeep Singh是 Houston Veterans Affairs Research Center of Excellence的医疗质量项目负责人，他表示医生并不会第一时间告知患者化验结果。多份研究结果表明，当化验结果异常时，包括潜在肿瘤的情况，其中36%医生都没有告知患者或者没有及时告知患者。当然原因有很多，最主要的是没有一个很好的系统能够让医生有效的管理和跟踪一周内就数以百计的化验结果。

自2003年开始，患者就拥有从医生、医院和其他治疗机构获取医疗病历的权利。但第三方实验室/化验科是个例外，它们只是完成化验项目，并把报告提交给门诊或者住院医生。

其中7个州允许实验室把化验报告直接给患者，7个州要求在医生的授权下可以把化验报告给患者，其他23个州则没有明确的政策。但随着当下正在修订的隐私法案的落地，将会推动越来越多的实验室把化验报告直接给到患者。

如果能够更快地、更直接的查看自己的化验报告，能不能减少患者的焦虑？或者说，没有专业医生对化验报告的解读，是不是会加剧焦虑感或者错误的期待？

就职于University of Chicago Medical Center医院Clinical Excellence中心的Dr. Jason Poston院士曾提到，这样做对患者肯定是帮助极大，但报告上异常的内容都是红色粗体，其中一些是概率性的问题，其中一些也并不代表你就是患了某种病。查不到报告或者很晚才得知结果患者所引起的焦虑，把所有信息都提供给患者自主查看所带来的困扰，这是我们需要去考虑并承担的风险。

化验项目的多样性和复杂程度仍在日益增加，很多结果会指导下一步的治疗干预。但很多都只是概率上的统计，仅供医生参考，用于进一步的检查和化验。此类结果的解读远远超过了普通患者的能力。


很多专家认为一旦患者能够直接查看自己的化验结果，医生和实验室都应该确保同时也提供了足够的信息能够帮助患者理解报告中的数值、图表。

Dr. Poston作为一名重症监护专家,告诉自己的学生要在报告还没出来之前就开始教育患者，如何理解化验报告，什么样的报告说明没问题，什么样的说明就可能有病，为什么有些还额外需要时间来进一步分析。这样子做不仅可以消除患者的一部分焦虑，同时更加凸显了医生是患者整个疾病诊断治疗全过程中的好伙伴和指导人员，甚至在治疗决策中患者也可以参与。

了解的越多，心理越平和的患者更加容易接受化验项目、手术和药物治疗，有可能会提升治疗效果。但需要医生花费时间去评估患者的心理诉求，而且这方面医生也没法让患者付费，Dr. Poston还提到，什么时候我们的医疗体系可以让我们为患者做到最好，并且我们的服务也能劳有所得呢？

在被网上的化验报告吓到之前，Szilagyi 太太曾有过两次孕史。在那个年代，她是没法看到自己的化验结果的，她能拿到的仅仅是一位专家谨慎地为她自己翻译过的内容。

Her divergent experiences offer a window onto the new and the traditional means of learning vital medical information.

在她第一次怀孕期间，也就是31岁的时候，在一次常规的早期妊娠超声和血检之后，结果显示怀孕异常：宝宝罹患唐氏综合症的概率是1/191.与Jennifer M. Hoskovec医生一起, Szilagyi太太选择了羊膜腔穿刺术，羊膜腔穿刺术可能会给婴儿造成一些影响。

Szilagyi太太不得不等2个礼拜做这项检查，然后是又两个礼拜才能拿到结果。她的状态很糟糕，持久性偏头痛外加食量很差。

Mrs. Szilagyi had to wait two weeks for the procedure and two more for results. She was a wreck, enduring migraines and eating little. Mrs. Hoskovec would check in. Although she tried to contain Mrs. Szilagyi’s worries by offering evenhanded information, she did not dismiss her anxiety as overblown. “Pregnancy is stressful,” she told Mrs. Szilagyi. Worry and fear are normal.

Finally Mrs. Hoskovec called with good news: Their baby boy was fine. That first screen was a false positive.

But during her second pregnancy, Mrs. Szilagyi’s first-trimester tests also came back with abnormal results. Mrs. Szilagyi again had an amniocentesis.

Mrs. Hoskovec called with results. In some fetal cells, a small piece on chromosome 10 was missing. The variation could be normal, she said, but it could also suggest a risk.

In her 18th week, Mrs. Szilagyi had a second amniocentesis. “I had so much worry and guilt,” she recalled. “My husband was O.K. with the odds. I wasn’t, and who did I think I was to play God, to need to know what was going to occur? And what could I have just done to this baby?”

At last Mrs. Hoskovec phoned. The Szilagyis were on schedule to deliver a healthy girl.

In Texas, where the Szilagyis live, patients can get access to lab results if the physician concurs. But that restriction will disappear if the revised federal regulations take effect, most likely later this year.

Across the country, patients and providers will have to decide how to manage the new rights. Will the responsibility for learning results begin to shift from doctor to patient? How will doctors ensure that patients understand what they have read online? How will doctors manage the heavy traffic of panicky phone calls?

Few argue, in theory, with the notion that patients should have faster access to test results. But after waiting for more test results than she cares to remember, Mrs. Szilagyi believes sometimes an expert’s interpretation is more important than instant answers.

“If you had normal labs from a basic screen, going online is great because it cuts down waiting time,” she said.

If she had read the results of the second pregnancy’s amnio online? “I would have been devastated,” she said, adding that Mrs. Hoskovec had been invaluable.

“I needed Jen, with her knowledge and expertise, to get me through.”

* * *

**A Little Preparation, a Lot of Coping**

As patients wait for test results, anxiety rises as time slips into slow motion. But experts say patients can regain a sense of control.

*   Start before the test itself.
*   Because fear can cloud memory during talks with doctors, take notes. If you can, bring a friend to catch details you may miss.

Some pretest questions:

*   What precisely can this test reveal? What are its limitations?
*   How long should results take, and why? Will the doctor call with results, or should I contact the office?
*   If it’s my responsibility to call, what is the best time, and whom should I ask for?
*   What is the doctor’s advice about getting results online?

During that period of patient limbo, “many people try to inoculate themselves by imagining the worst,” said [Guy H. Montgomery](//www.mountsinai.org/profiles/guy-h-montgomery "Montgomery bio"), a psychologist who teaches at the Mount Sinai School of Medicine. “So when they get the results they can say, ‘I knew that.’ Or they feel extremely relieved.”

The four-alarm worriers may also hold tight to magical thinking: If they can stare, unblinking, into the abyss of worst-case scenarios, maybe the abyss will blink first — and the news will be good.

“Is that worry working for you?” Dr. Montgomery said he tells patients. “If you need a day to cry, fine, but if it’s incapacitating you, we need to find another way.”

Experts also say patients should recall strategies they’ve found useful in other stressful situations. Suggestions include self-hypnosis and yoga. Many patients find comfort in prayer.

Others keep busy to avoid ruminating. Many stave off feeling helpless by doing something helpful for someone else. Or they combat anxiety by doing activities they enjoy. (Power-shopping, anyone?)

For patients who find anxiety crippling, some recommend medication. [Dr. Elvira V. Lang](//www.hypnalgesics.com/DrLang "Lang bio"), a radiologist who teaches medical professionals how to alleviate patients’ stress, prefers that patients not go that route.

“Once you take the medication, you can’t drive, operate machinery, prepare documents carefully,” she said. “I urge patients to take deep breaths: taking in strength and letting go of whatever thoughts are not helpful.”

Dr. Montgomery says mental toughness may be overrated. “People say, ‘Suck it up!’ ” he said. But waiting for the results of an important medical test, he added, “is an out-of-ordinary experience, a significant life event. It’s O.K. to ask for help.”








如何度过等待化验结果的焦虑期
--------------

更新时间:2013-12-12 13:33:16 来源:[纽约时报中文网](http://cn.nytimes.com/) 作者:佚名


The Anxiety of Waiting for Test Results  
如何度过等待化验结果的焦虑期

After MaryAnn and Drew Szilagyi, a Houston couple in their early 30s, saw their physician for routine physicals a few years ago, they didn’t have to wait for his call about the blood work. Just two days later, Mr. Szilagyi, a banker, logged onto a Web site, perused his lab results and sighed with relief. All normal.

几年前，住在休斯顿、30岁出头的玛丽·安(MaryAnn)和德鲁·西拉吉(Drew Szilagyi)夫妇做了次常规化验，他们不必等待医生打电话通知血检结果。只消两天，银行家西拉吉先生就能登陆网站，仔细阅读他的化验报告。他长舒一口气——一切正常。

But when Mrs. Szilagyi, who sells luxury kitchen equipment, followed suit, no results were displayed. Instead, a message flashed: Contact Doctor’s Office.

可是当西拉吉夫人，一位高档厨具销售员，也上网去查自己的结果时，却什么也没有发现。倒是一条留言在屏幕上闪烁：联系医生。

Her internal alarms began clanging.

她身体里的小警报旋即铿锵作响。

That day she left four messages for her doctor. No response. The next day, Mrs. Szilagyi, who has a family history of breast cancer, pleaded with the receptionist for help. She pulled Mrs. Szilagyi’s chart and said, “I can’t tell you what it says, but I don’t think you should worry.”

当天她就给医生留了4条留言。均无回复。第二天，有家族乳腺癌史的西拉吉女士恳请接待员帮忙。接待员抽出了她的病例并告诉她：“我不能告诉你到底怎么了，不过我觉得你没必要担心。”

Now angry as well as frightened, Mrs. Szilagyi continued to worry. On the third day, the doctor’s nurse reached her. What result had caused so much mystery and misery?

现在，西拉吉夫人既愤怒又害怕，她依旧惴惴不安。第三天，医生的护士打来了电话——究竟是什么结果如此神秘，让她纠结不已？

Mrs. Szilagyi, it turned out, had a vitamin D deficiency.

西拉吉夫人最终发现，她只是有点儿缺乏维生素D。

“All that stress over getting some more sun and eating better,” said Mrs. Szilagyi, now 35.

“多晒点儿太阳，吃点儿好的——就这些，搞得我那么大压力，”现年35岁的西拉吉夫人说。

The excruciating limbo that follows significant medical tests is a nearly universal experience for patients. Doctors do not always ease patients’ anxiety, delivering bad news matter-of-factly, failing to call swiftly, even losing results altogether.

每个病人都经历过重要检查后的焦心时刻。医生时常对病人的焦虑视而不见，直白地传达坏消息，不及时打电话通知，甚至能把化验报告整个弄丢。

As medical records move online and state regulations loosen, many patients can bypass the doctor’s call and get the results of these tests faster, directly from labs via Web sites and apps. But new federal regulations may permit all patients that right by year’s end. Many experts are concerned that pervasive direct access to test results may have serious drawbacks, leaving patients even more confused and overwhelmed by information they do not know how to interpret.

随着医院将病例上传到网上以及州法规的放松，很多病人无需等候医生来电就能快速通过互联网和应用程序从化验室直接获得诊断结果。而2012年年底之前，新的联邦法规也许能将此项权利授予所有病人。很多专家担心让化验报告如此唾手可得会造成严重后果：病人愈发不明就里、被大量不知其意的信息搞得手足无措。

According to the Centers for Disease Control and Prevention, about 6.8 billion laboratory tests were performed in the United States in 2007. At that time, more than 4,000 diagnostic tests were available and 1,420 diseases could be detected with genetic testing.

根据美国疾病预防和控制中心(Centers for Disease Control and Prevention)的调查，2007年全美共做了大约68亿次化验，在当时可提供4000多种诊断性测试，并有1420例疾病可通过基因检测发现。

The impact of waiting for test results on patient anxiety is significant. It has been studied in breast cancer biopsy patients, infertility patients and patients undergoing genetic testing, among others. Stress alone, these studies show, can affect recovery time and exacerbate side effects from medications. The psychological toll in households can also be harsh, especially among family members with clashing coping styles — if, say, one person has an optimistic bent, while the other tends to presume the worst.

有研究证明等待化验结果给病人带来的焦虑是不可小视的，研究对象包括了做过乳腺癌活检的病人、不孕不育病人和进行了基因检测的病人等。结果显示，单是心理压力一项，就能延长康复时间、恶化药物副作用。同时，它也给病人家属带来了严重的精神负担，特别是对于成员处理问题方式迥异的家庭而言——比方说，某个家庭成员特别乐观，而其他人倾向于做最坏的打算。

In an exploratory study at the Wake Forest Baptist Medical Center in Winston-Salem, N.C., published this spring in The Journal of the American College of Radiology, more than 80 percent of patients said they would rather have online access to such results within three days, no matter how dense the jargon, than wait a week or longer for a doctor’s interpretation. By the end of September, the medical center’s patients will be able to directly access their test results three days after physicians sign off and, in some cases, even sooner.

美国北卡罗莱纳州温斯顿-塞勒姆的维克森林浸会医学中心(Wake Forest Baptist Medical Center)进行的一项探索性研究于2012年春天发表在《美国放射学会会刊》(The Journal of the American College of Radiology)上。研究发现，80%以上的病人表示自己更乐意在三天内从网上获取结果。无论医学术语有多么晦涩，也要好过等上一周甚至更久让医生来解释。2012年9月底，该医学中心的病人可以在医生签字后三天直接读到检查结果，有些情况下还可能更快。

“Once you know what you have, you can make plans,” said Dr. Elvira V. Lang, a radiologist who taught at Harvard Medical School and has studied the effect of stress on cortisol levels in patients waiting for biopsy results. Until then, she said, you may imagine the worst, “but you can’t map the next step.”

“一旦知道自己有什么问题，你就可以开始着手规划了，” 在哈佛医学院(Harvard Medical School)任教的放射医师埃尔维拉·V·郎(Elvira V. Lang)说。她曾研究过精神压力对等待活检结果的病人体内皮质醇水平的影响。她说，知道结果之前，你可以想象最坏的结局，“但你无法对下一步做打算。”

While some results are now available within hours, many high-stakes tests, involving growing cultures or tissue dissection, still require days, even weeks. And according to Dr. Hardeep Singh, who wrote about direct access to test results last December in The Journal of the American Medical Association, physicians themselves do not always give patients results in a timely manner.

尽管有些检查只需几个小时就能得出结论，但很多高成本检测，像病原体培养或组织培养，仍要几天甚至几周时间。2011年12月在《美国医学协会杂志》(The Journal of the American Medical Association)上发表了关于病人直接获得检查结果一文的哈迪普·辛格(Hardeep Singh)医生认为，医师们在反馈信息这方面做得不怎么及时。

Dr. Singh, who leads the health quality program at the Houston Veterans Affairs Research Center of Excellence, said in an interview that several studies have shown that doctors delay or fail to notify patients of as many as 36 percent of abnormal test results, including possible malignancies.

辛格医生是休斯顿退伍军人事务研究中心(Houston Veterans Affairs Research Center of Excellence)医疗质量项目的主管。他在一次采访中提到，很多研究都发现，被医生延误或压根没有通知给病人的异常检测结果高达36%，包括暗示了恶性肿瘤的诊断。

There are many reasons, he said, chief among them the lack of reliable tracking systems to follow up the hundreds of results that a busy physician typically receives in a week.

他说，造成这种问题的原因很多，最主要的就是缺乏可靠的跟踪系统，而一个忙碌的医生基本上一周能拿到几百份检查报告。

Since 2003, patients have been entitled to receive medical records from doctors, hospitals and health plans within 30 days of their request. Clinical labs, which perform most tests and are required to report to the physicians, were the exception.

自2003年起，病人就得到了30天内从医生、医院和医疗保健项目获得个人病历的权利。不过进行绝大部分检测的化验室除外，他们必须将结果报告上交给医生。

Seven states permit labs to release reports directly to patients, seven states allow such reporting with physician approval, and 23 states are silent on the issue. Thirteen states mandate that labs report only to physicians. But potential changes under review to federal health privacy regulations would allow all patients to request results directly from labs, which would have 30 days to comply.

现在有7个州允许实验室直接将结果提供给病人，7个州要求须有医生同意，23个州对此保持缄默，其余13个州要求实验室的报告只能递给医生。不过，一项正在审核的新提议可能对联邦健康隐私法规作出调整，即允许所有病人直接从实验室索要检测结果，30天为上限。

Would quicker, direct access reduce anxiety? Or, without a medical professional offering context and explanation, could it provoke greater anxiety or even false assurance?

更快捷地获得结果就能减轻焦虑么？抑或是，缺少了医生的背景介绍和专业解释，此举将引发病人更严重的焦虑，甚至是错误的信心？

Dr. Jason Poston, an associate fellow at the Bucksbaum Institute for Clinical Excellence at the University of Chicago Medical Center, has mixed feelings about direct access.

芝加哥大学医学中心(University of Chicago Medical Center)巴克斯鲍姆临床规范研究所(Bucksbaum Institute for Clinical Excellence)的研究员贾森·波斯顿(Jason Poston)医生对此举的感觉称得上五味杂陈。

“It’s empowering for patients,” Dr. Poston said. “But anything abnormal shows up red and bold. Some of those results may be due to chance. Some of them are not suggestive that you have a disease. So you run the risk of anxiety either with too little or delayed information, or with free access to all the information, because it can overwhelm you.”

“对于病人来讲，他们是掌握了更多的主动权，”波斯顿医生说，“但任何异常都会用红色或粗体字标出，有些是随机的，有些不代表你生了什么大病。所以当信息太少或来得太迟时你会焦虑；信息太繁杂又来得太容易时，你还是会焦虑，因为你应付不了了。”

The variety and complexity of tests continue to grow. Many do lead to critical interventions. But others merely point to statistical possibilities, opening doors to further testing or to the gray universe of “watchful waiting.” These results often require a subtle, sophisticated interpretation that may be far beyond the average patient’s first reading.

化验的多样性和复杂性持续增长。很多检查结果确实指出需要对病情做出重要干预。而对于仅仅暗示统计学上的可能性的那些结果，可做进一步的测试，也可模棱两可地“继续观察”。这类结果所需的精细、复杂的解释，通常与一个普通病人首次读报告时理解的意思相去甚远。

Many experts argue that if patients are to have direct access to test results, doctors and labs should ensure that patients are also provided with information to help them understand the shorthand numbers — and that doctors themselves follow up promptly.

很多专家都认为，如果允许病人直接获取化验报告，医生和实验室应当确保为病人提供相应信息，帮助他们理解报告上的数字——同时医生需要立刻予以跟进。

Dr. Poston, an intensive care specialist, teaches medical students to begin educating patients about results even before the test is done. Patients should have realistic expectations about what results may or may not reveal, he tells students, and why some tests still take time to be analyzed. Not only will patient anxiety be somewhat alleviated, Dr. Poston said, but the role of the doctor as critical guide and partner in the patient’s care will be reinforced — even as a patient’s need to participate in decision-making will be supported.

身为重症监护专家的波斯顿医生，让医学生们在进行检查之前就教病人如何理解检查结果。他告诉学生：病人应该对结果能说明和不能说明的问题抱有较为现实的预期，以及为什么有些检查需要花一定时间来分析。如此，不仅病人的焦虑能有所减轻，波斯顿医生说，医生在病人护理中作为关键引导人和合作者的角色也加强了，甚至是应病人需求参与重大决定的举措也更被支持。

Informed, calmer patients, Dr. Poston added, are more likely to comply with tests, surgery and medication, increasing the likelihood of better outcomes. But a doctor needs time to assess the patient’s psychological needs — and doctors can’t bill for hand-holding. “How do we come to a system where we can do right by the patient and also make the practice financially viable?” Dr. Poston said.

波斯顿医生补充道：充分知情、情绪镇定的病人亦更能接受化验结果、手术和用药，进而改善预后。但是，医生照顾病人的心理需求是要花时间的，而他们又不能为这种无微不至的关怀收费。波斯顿医生说：“我们的医疗系统怎样才能既满足病人所需、又能长期盈利呢？”

Mrs. Szilagyi, the Houston woman who had the stress-strafed episode with online results, also went through two difficult pregnancies. Those times, she did not have direct access to results, which were given to her, and carefully translated, by a genetics counselor.

那位来自休斯顿、被网上的结果吓得够呛的西拉吉夫人曾经历过两次麻烦的怀孕。那时候，她还无法直接得到化验报告，所有结果都是由一位遗传专家仔细讲解给她的。

Her divergent experiences offer a window onto the new and the traditional means of learning vital medical information.

与众不同的经历使她得以通过新旧不同渠道理解重要的医学信息。

During her first pregnancy, at 31, she had a routine first-trimester ultrasound and blood work. The screen revealed that the pregnancy was in the abnormal range: Her baby’s chances of having Down syndrome were 1 in 191. Jennifer M. Hoskovec, director of prenatal genetic counseling services at the University of Texas Medical School at Houston, met with Mrs. Szilagyi, who chose to have an amniocentesis, knowing that the procedure could pose a small risk to the fetus.

她31岁时第一次怀孕。在做前三个月例行超声和血液检测时，筛查实验发现了异常情况：胎儿患唐氏综合症(Down syndrome)的概率为1/191。休斯顿德克萨斯大学医学院(University of Texas Medical School)产前遗传咨询项目主管珍妮弗·M·霍斯科韦茨(Jennifer M. Hoskovec)医生与西拉吉夫人见了面。西拉吉夫人决定做羊膜穿刺，她知道这样做可能对胎儿有危险。

Mrs. Szilagyi had to wait two weeks for the procedure and two more for results. She was a wreck, enduring migraines and eating little. Mrs. Hoskovec would check in. Although she tried to contain Mrs. Szilagyi’s worries by offering evenhanded information, she did not dismiss her anxiety as overblown. “Pregnancy is stressful,” she told Mrs. Szilagyi. Worry and fear are normal.

做手术要等两周，结果出来还要两周。西拉吉夫人紧张的不得了，又是偏头痛又是吃不下饭的。霍斯科韦茨医生对此进行了干预。她试图用提供不偏不倚的信息的方式打消西拉吉夫人的担忧，而且她并没有将这种焦虑当成小题大做而忽视。“怀孕确实压力大，”她告诉西拉吉夫人。担心和害怕都是正常的。

Finally Mrs. Hoskovec called with good news: Their baby boy was fine. That first screen was a false positive.

终于，霍斯科韦茨医生带来了好消息：肚子里的男婴一切正常。第一次筛查是假阳性结果。

But during her second pregnancy, Mrs. Szilagyi’s first-trimester tests also came back with abnormal results. Mrs. Szilagyi again had an amniocentesis.

然而，第二次怀孕时，西拉吉夫人的三个月例行检查又出了状况。她再次做了羊膜穿刺。

Mrs. Hoskovec called with results. In some fetal cells, a small piece on chromosome 10 was missing. The variation could be normal, she said, but it could also suggest a risk.

霍斯科韦茨医生打电话告诉她：在一些胚胎细胞里，10号染色体的一小段片段丢失。这种变异也许是正常的，她说，但也可能意味着危险。

In her 18th week, Mrs. Szilagyi had a second amniocentesis. “I had so much worry and guilt,” she recalled. “My husband was O.K. with the odds. I wasn’t, and who did I think I was to play God, to need to know what was going to occur? And what could I have just done to this baby?”

怀孕18周时，西拉吉夫人第二次羊膜穿刺。“我担心极了，充满自责，”她回忆道，“我丈夫觉得风险不大，但我不行。我怎么就觉得自己了不起，能扮演上帝，想知道未来发生的事？我刚刚对肚子里的孩子都做了些什么？”

At last Mrs. Hoskovec phoned. The Szilagyis were on schedule to deliver a healthy girl.

后来，霍斯科韦茨医生电话告知西拉吉夫人：她会如期产下一个健康的女婴。

In Texas, where the Szilagyis live, patients can get access to lab results if the physician concurs. But that restriction will disappear if the revised federal regulations take effect, most likely later this year.

在西拉吉夫妇居住的德克萨斯州，病人可以直接得到实验室的检查结果，前提是需要征得医生同意。不过如果新修订的联邦法律生效——在2012年下半年，可以删除这个先决条件。

Across the country, patients and providers will have to decide how to manage the new rights. Will the responsibility for learning results begin to shift from doctor to patient? How will doctors ensure that patients understand what they have read online? How will doctors manage the heavy traffic of panicky phone calls?

整个美国的病人和提供化验报告的人都将面临着如何应对这项新法规的问题。理解检查结果的责任会不会从医生转嫁到病人身上？医生如何确保病人明白网上看到的报告？医生怎样处理随之而来铺天盖地的病人紧张兮兮的电话求助？

Few argue, in theory, with the notion that patients should have faster access to test results. But after waiting for more test results than she cares to remember, Mrs. Szilagyi believes sometimes an expert’s interpretation is more important than instant answers.

理论上，毋庸置疑，病人应当尽快得知结果。然而，在等候过远多于她乐意记住的信息后，西拉吉夫人觉得有时专家的讲解要比及时获悉结果更重要。

“If you had normal labs from a basic screen, going online is great because it cuts down waiting time,” she said.

“如果你只做了普通筛查，上网看报告很好，减少等待时间。”她说。

If she had read the results of the second pregnancy’s amnio online? “I would have been devastated,” she said, adding that Mrs. Hoskovec had been invaluable.

要是当时她在网上读了自己的第二次羊膜穿刺报告呢？“我绝对崩溃了。”她说：

“I needed Jen, with her knowledge and expertise, to get me through.”

“我需要珍妮佛，需要她的知识和经验帮我渡过难关。”

**A Little Preparation, a Lot of Coping**

**小准备应对大局面**

As patients wait for test results, anxiety rises as time slips into slow motion. But experts say patients can regain a sense of control.

当病人等待结果时，焦虑逐级升温，而时间变得极其缓慢。不过专家说，病人完全可以夺回主动权。

Start before the test itself.

从化验前开始准备：

Because fear can cloud memory during talks with doctors, take notes. If you can, bring a friend to catch details you may miss.

由于恐惧会阻碍人们回忆当时与医生谈过些什么，所以应当做笔记。如果可能，带个朋友去，帮你记录一些可能漏掉的细节。

Some pretest questions:What precisely can this test reveal? What are its limitations?

检查前可以提的问题：这个检查的结果准确性有多高？有什么不足？

How long should results take, and why? Will the doctor call with results, or should I contact the office?

出结果要多久，为什么那么久？医生会打电话通知，还是应当由我打电话过去？

If it’s my responsibility to call, what is the best time, and whom should I ask for?

如果需要我自己打电话，那么什么时间、问哪个人最好？

What is the doctor’s advice about getting results online?

医生建议我在网上阅读检查报告么？

During that period of patient limbo, “many people try to inoculate themselves by imagining the worst,” said Guy H. Montgomery, a psychologist who teaches at the Mount Sinai School of Medicine. “So when they get the results they can say, ‘I knew that.’ Or they feel extremely relieved.” The four-alarm worriers may also hold tight to magical thinking: If they can stare, unblinking, into the abyss of worst-case scenarios, maybe the abyss will blink first — and the news will be good.

最为忐忑不安之时，“很多人都会尽量往坏的想，”在西奈山医学院(Mount Sinai School of Medicine)任教的心理学家盖伊·H·蒙哥马利(Guy H. Montgomery)说：“因此当他们拿到报告的时候就可以说‘我早知道会这样。’或是——彻底放心了。”最纠结的人可能会顽固地抱有这样的想法：如果我眼睛都不带眨一下地直视可能刚发生的最坏情况，没准儿这个最坏情况自己就眨眨眼睛溜走了，然后就只剩好消息了。

“Is that worry working for you?” Dr. Montgomery said he tells patients. “If you need a day to cry, fine, but if it’s incapacitating you, we need to find another way.”

“担心有用吗？”蒙哥马利医生说他会这样告诉病人：“如果你需要一天时间大哭一场，可以。但如果担心使你都不能自理了，我们就得找个别的解决办法。”

Experts also say patients should recall strategies they’ve found useful in other stressful situations. Suggestions include self-hypnosis and yoga. Many patients find comfort in prayer.

专家说，病人还可以使用他们在其他高压事件中行之有效的减压方法。比如自我催眠和瑜伽。很多病人都感觉祈祷能令人安心。

Others keep busy to avoid ruminating. Many stave off feeling helpless by doing something helpful for someone else. Or they combat anxiety by doing activities they enjoy. (Power-shopping, anyone?)

还有些人让自己保持忙碌而不必深陷焦虑。很多人避免无助感的办法是帮助别人。或者干些自己特别享受的事情来击退担心。（疯狂购物，有没有人这样做？）

For patients who find anxiety crippling, some recommend medication. Dr. Elvira V. Lang, a radiologist who teaches medical professionals how to alleviate patients’ stress, prefers that patients not go that route.

若是焦虑导致了严重后果，有人建议用药物治疗。教医务人员如何减轻病人压力的埃尔维拉·V·郎医生认为最好还是不要吃药。

“Once you take the medication, you can’t drive, operate machinery, prepare documents carefully,” she said. “I urge patients to take deep breaths: taking in strength and letting go of whatever thoughts are not helpful.”

“你服了药以后，不能开车，不能操作机器，不能细致地整理文档，”她说，“我强烈建议病人们做深呼吸，吸入正能量，呼出没用的负面想法。”

Dr. Montgomery says mental toughness may be overrated. “People say, ‘Suck it up!’ ” he said. But waiting for the results of an important medical test, he added, “is an out-of-ordinary experience, a significant life event. It’s O.K. to ask for help.”

蒙哥马利医生则认为，人们对意志力的评价过高了。“有人会说‘坚强点儿！’”他说。但是等候重要化验结果“是个不寻常的经历，是生活中的大事。寻求帮助是理所应当的”。

“本文发表于纽约时报中文网（http://cn.nytimes.com），版权归纽约时报公司所有。任何单位及个人未经许可，不得擅自转载或翻译。订阅纽约时报中文网新闻电邮：http://nytcn.me/subscription/”
